<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiangliheart.eob.server.auth.dao.EobAmCustomerMapper">
  <resultMap id="BaseResultMap" type="com.xiangliheart.eob.server.auth.entity.EobAmCustomer">
    <constructor>
      <idArg column="customer_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="customer_create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="customer_region_code" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="customer_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="costomer_last_update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="customer_status" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    customer_id, customer_create_time, customer_region_code, customer_name, costomer_last_update_time, 
    customer_status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_am_customer
    where customer_id = #{customerId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_am_customer
    where customer_id = #{customerId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xiangliheart.eob.server.auth.entity.EobAmCustomer">
    insert into tb_am_customer (customer_id, customer_create_time, 
      customer_region_code, customer_name, costomer_last_update_time, 
      customer_status)
    values (#{customerId,jdbcType=VARCHAR}, #{customerCreateTime,jdbcType=TIMESTAMP}, 
      #{customerRegionCode,jdbcType=VARCHAR}, #{customerName,jdbcType=VARCHAR}, #{costomerLastUpdateTime,jdbcType=TIMESTAMP}, 
      #{customerStatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xiangliheart.eob.server.auth.entity.EobAmCustomer">
    insert into tb_am_customer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="customerCreateTime != null">
        customer_create_time,
      </if>
      <if test="customerRegionCode != null">
        customer_region_code,
      </if>
      <if test="customerName != null">
        customer_name,
      </if>
      <if test="costomerLastUpdateTime != null">
        costomer_last_update_time,
      </if>
      <if test="customerStatus != null">
        customer_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="customerId != null">
        #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="customerCreateTime != null">
        #{customerCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="customerRegionCode != null">
        #{customerRegionCode,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null">
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="costomerLastUpdateTime != null">
        #{costomerLastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="customerStatus != null">
        #{customerStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiangliheart.eob.server.auth.entity.EobAmCustomer">
    update tb_am_customer
    <set>
      <if test="customerCreateTime != null">
        customer_create_time = #{customerCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="customerRegionCode != null">
        customer_region_code = #{customerRegionCode,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null">
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="costomerLastUpdateTime != null">
        costomer_last_update_time = #{costomerLastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="customerStatus != null">
        customer_status = #{customerStatus,jdbcType=INTEGER},
      </if>
    </set>
    where customer_id = #{customerId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiangliheart.eob.server.auth.entity.EobAmCustomer">
    update tb_am_customer
    set customer_create_time = #{customerCreateTime,jdbcType=TIMESTAMP},
      customer_region_code = #{customerRegionCode,jdbcType=VARCHAR},
      customer_name = #{customerName,jdbcType=VARCHAR},
      costomer_last_update_time = #{costomerLastUpdateTime,jdbcType=TIMESTAMP},
      customer_status = #{customerStatus,jdbcType=INTEGER}
    where customer_id = #{customerId,jdbcType=VARCHAR}
  </update>
  <select id="selectPage"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_am_customer
  </select>
</mapper>